@import url('https://fonts.googleapis.com/css2?family=Amethysta&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amethysta&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-color: #f5f5f5;
  --section-color: #aee4f8;
  --text-color: #464646;
  --blue: #0000b3;
  --font: 'Raleway', sans-serif;
  --padding-container: 5% 0;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--font);
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #6eace5b3;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero__subtitle {
  text-align: center;
  font-weight: 100;
  font-size: 1.9rem;
  padding: 20px 0;
  color: black;
  font-family: 'Madimi One', sans-serif;
}

.form {
  display: grid;
  gap: 1.5rem;
  padding: 20px;
}

.form__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form__label {
  font-family: 'Amethysta', serif;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  top: -1.2rem;
  left: 1rem;
  padding: 0 0.25rem;
  transform: translateY(-50%);
  color: #060606;
}

.form__input {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 25px 0px 25px 0px; /* Bordes semicirculares */
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.form__input:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.form__submit {
  font-family: 'Madimi One', sans-serif;
  width: fit-content;
  background-color: #060606;
  border: none;
  border: 2px solid #d1d1d4;
  padding: 0.8rem 2rem;
  color: #ffffff;
  font-weight: 200;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  margin: 0 auto;
}

.form__submit:hover {
  background-color: #1f5d9b;
}

.form__message {
  height: 100px;
  resize: none;
  border-radius: 30px 0px 30px 0px;
}

@media (min-width: 768px) {
  .container {
    min-width: 40%;
  }

  .hero__email {
    font-size: 1rem;
    font-weight: 700;
  }

  .hero__main {
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
    gap: 5%;
  }
  .hero__picture {
    width: 30%;
  }

  .hero__img {
    width: 100%;
  }

  .hero__texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
  }

  .hero__title {
    padding-top: 3%;
  }

  .hero__texts--about {
    width: 90%;
  }

  .hero__subtitle {
    padding-bottom: 0;
  }

  .hero__subtitle--about {
    padding-bottom: 5%;
  }

  .main__subtitle {
    padding-bottom: 5.5%;
  }

  .main__skills {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .main__skill {
    margin-bottom: 15px;
  }

  .main__courses {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero__subtitle--contacto {
    padding-bottom: 5.5%;
  }
}

@media (min-width: 1024px) {
  .container{
    min-width: 40%;
  }
  .nav {
    display: flex;
    gap: 16px;
  }
  .nav__links {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .nav__link {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
  }
  .hero__main {
    gap: 2.5%;
  }

  .hero__title {
    font-size: 2.3rem;
    padding-bottom: 1.5%;
  }

  .hero__paragraph {
    font-size: 1.3rem;
    padding-bottom: 2%;
  }

  .hero__paragraph--about {
    /* display: block; */
    max-width: 800px;
  }

  .hero__links {
    font-size: 1.2rem;
    gap: 16px;
    padding-left: 0.5%;
  }
  .main__project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
    align-items: center;
    justify-content: space-between;
  }

  .project__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  .main__contact {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    /* padding-bottom: 0; */
    padding: 0 10%;
  }

  .main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .figure__contact {
    display: block;
    height: auto;
  }

  .footer {
    background-color: #fff;
  }
}

@media (min-width: 1150px) {
  .container{
    min-width: 40%;
    }
  .hero__paragraph {
    padding: 4% 0;
  }

  .hero__subtitle {
    font-size: 2.5rem;
  }

  .main__subtitle--academic {
    font-size: 2.5rem;
  }
}

@media (min-width: 1300px) {
  .container{
    min-width: 50%;
    }
  .hero__title {
    font-size: 3rem;
  }
  .hero__paragraph {
    padding: 4% 0;
  }

  .hero__subtitle {
    font-size: 2.5rem;
  }

  .main__subtitle--academic {
    font-size: 2.5rem;
  }
}
