@import url('https://fonts.googleapis.com/css2?family=Amethysta&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amethysta&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #579cd9;
}

.contenedor_principal {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 50px #000;
  min-width: 310px;
  height: 653px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: bold;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

#password,
#email,
#confirmar_contraseña {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 15px;
  background-color: #e8e8e8;
}
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input[type='password'],
.password-container input[type='text'] {
  width: 100%;
}
.toggle-password {
  position: absolute;
  top: 10px;
  background: none;
  border: none;
  right: 15px;
  cursor: pointer;
}

input[type='checkbox'] {
  margin-right: 10px;
}
label[for='recuerdame'] {
  color: #333;
  opacity: 0.5;
}

button:hover {
  background-color: #619ad8;
}

.botones {
  display: flex;
  justify-content: center;
}
.botones .tamano_icono {
  font-size: 25px;
}
.boton-redSocial {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  padding: 10px;
  margin: 10px;
}

.social-button:hover {
  opacity: 0.8;
}
#google:hover {
  background-color: #db4437;
}
.boton_SignUp {
  min-width: 192px;
  height: 35px;
  border-radius: 15px;
  background-color: #0056b3;
  cursor: pointer;
  color: #ffffff;
  margin: 20px auto;
}

p {
  text-align: center;
  margin-top: 20px;
  a {
    text-decoration: none;
    color: #000;
  }
}
.Swal-confirm {
  background-color: rgb(48, 148, 206) !important;
}

#link_registro {
  color: #0056b3;
}

@media only screen and (min-width: 360px) and (max-width: 768px){ 
  .contenedor_principal {
    width: 450px;
    height: fit-content;
  }
  .boton_SignUp {
    width: 100%;
    margin-top: 0.5px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1300px) {
  .contenedor_principal {
    width: 450px;
    height: fit-content;
  }
  .boton_SignUp {
    width: 100%;
    margin-top: 0.5px;
  }
}
@media only screen and (min-width: 1301px) and (max-width: 1590px) {
  .contenedor_principal {
    width: 200px;
    height: fit-content;
    margin-top: 20px;
  }
  .licencia {
    margin-top: 0.5px;
  }
  .boton_SignUp {
    width: 100%;
    margin-top: 0.5px;
  }
}
@media only screen and (min-width: 1591px) {
  .contenedor_principal {
    width: 200px;
    height: fit-content;
    margin-top: 20px;
    padding: 20px;
  }
  .boton_SignUp {
    width: 100%;
    margin-top: 0.5px;
  }
}
